<html>

<head>
  <title>Where is
    <%= person.name %>?</title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    header {
      background-color: #000000;
      color: #51A782;
      font-size: 14pt;
      font-family: 'Fira Code', 'Inconsolata', 'Droid Sans Mono', 'Monaco', 'Courier', monospace;
      pointer-events: none;

      padding: .4em;
      pointer-events: auto;
    }

    header p {
      margin: 3pt;
      line-height: 1.4em;
    }

    header .indented {
      margin-left: 2em;
    }

    #map {
      flex: 1
    }

    .location,
    .tz,
    #local-time,
    a {
      color: #FFF252;
    }
  </style>

  <script type="text/javascript">
    function updateLocalTime() {
      var date = new Date();
      var offset_minutes = date.getTimezoneOffset() + <%= location.time_zone_offset %>;
      date.setTime(date.getTime() + offset_minutes * 60 * 1000);
      element = document.getElementById("local-time");
      if (element) { element.innerHTML = date.toLocaleTimeString([], {hour: "numeric", minute: "numeric"}); }
    }
    window.setInterval(updateLocalTime, 15)
  </script>
</head>

<body>
  <header>
    <p>$ locate <a href="https://twitter.com/dantoml">@dantoml</a></p>
    <p class="indented"><%= person.name %> is probably in: <span class='location'><%= location.pretty_name %></span>.
    <br /><%= person.pronoun %> current UTC Offset is: <span class='tz'><%= location.time_zone_offset_hours %>:<%= location.time_zone_offset_minutes.to_s.rjust(2, '0') %></span>,
    and the local time is <span id="local-time"></span>.
    </p>
  </header>
  <div id='map'></div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script>
    mapboxgl.accessToken = '<%= tokens[:MAPBOX] %>';
var map = new mapboxgl.Map({
  container: 'map',
  center: [<%= location.lat %>,<%= location.lon %>],
  zoom: 11,
  style: 'mapbox://styles/dantoml/cjgtmo2ea000o2sti4lb1waz7'
});
  </script>
</body>

</html>
